@model ITHelper.Models.ITTicket
@{ Layout = "/Views/Shared/_EMail.cshtml"; }

<br />
<br />
<h1>IT Ticket Details</h1>

<div>
    @if (Model.Status == Ticket.TicketStatus.Closed)
    { <p>An IT Ticket has been <em>resolved</em> in the Hope Ticket Management System.</p> }
    else
    { <p>An IT Ticket has been updated in the Hope Ticket Management System.</p> }
    <p>
        You are receiving this email as an interested participant in this issue.
    </p>
    <br />
    <br />
    <hr />
    <img src="~/images/brokenPCUpdate.jpg" style="float: right;" />
    <h3>Ticket: @Model.Id</h3>
    <br />
    <p><strong>Username:</strong>  @User.Identity.Name (@Model.FName @Model.LName)</p>
    <p><strong>EMail:</strong>  @Model.EMail</p>
    <p><strong>Phone:</strong>  @Model.Phone</p>
    <br />
    <p><strong>PC Name:</strong>    @Model.PCName</p>
    <p><strong>Category:</strong>   @Model.CategoryDisplay</p>
    <p><strong>Status:</strong>   @Model.TicketStatusDisplay</p>
    <p><strong>Ticket Severity:</strong>    @Model.TicketSeverityDisplay</p>
    <p><strong>Created:</strong>    @Model.DateSubmittedDisplay</p>
    <p><strong>Last Updated:</strong>    @Model.LastUpdatedDisplay</p>
    <br />
    <p><strong>Problem Description:</strong>  @Model.Description</p>
    <br />
    @if (Model?.Updates?.Count() > 0)
    {<partial name="~/Views/EMail/Updates.cshtml" model="Model.Updates" />}
    <br />
    @if (Model.Status == Ticket.TicketStatus.Closed)
    {<p><strong>Resolution:</strong>   @Model.Resolution</p>}
    <br />
    <a href="~/ITTickets/Details/@Model.Id">Ticket Details</a>
</div>
<br />
<br />