@model ITHelper.Models.Ticket

<table>
    <tr><th>User Name:</th><td>@User.Identity.Name (@Model.FName @Model.LName)</td></tr>
    <tr><th>EMail Address:</th><td>@Model.EMail</td></tr>
    <tr><th>Phone:</th><td>@Model.Phone</td></tr>    
    <tr><th>Category</th><td>@Model.Category?.Name</td></tr>
    @if((Model.Category.ParentCategory != null) && (Model.Category.ParentCategory.Equals("IT")))
    { <tr><th>PC Name:</th><td>@Model.PCName</td></tr> }
    <tr><th>Status:</th><td>@Model.TicketStatusDisplay</td></tr>
    <tr><th>Severity:</th><td>@Model.TicketSeverityDisplay</td></tr>
    <tr><th>Created:</th><td>@Model.DateSubmittedDisplay</td></tr>
    <tr><th>Last Updated:</th><td>@Model.LastUpdatedDisplay</td></tr>
    <tr><th>Problem Description:</th><td>@Model.Description</td></tr>
</table>
<br />
@if (Model?.Updates?.Count() > 0)
{
    <partial name="~/Views/EMail/Updates.cshtml" model="Model.Updates" />
}
<br />
@if (Model.Status == Ticket.TicketStatus.Closed)
{<p><strong>Resolution:</strong>   @Model.Resolution</p>}