@model IEnumerable<ITHelper.Models.Update>

<h3>Updates</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.DateCreated))
        {
            <tr>
                <td style="padding: 10px;">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td style="padding: 10px;">
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td style="padding: 10px;">
                    @Html.DisplayFor(modelItem => item.DateCreated.LocalDateTime)
                </td>
            </tr>
        }
    </tbody>
</table>
