@model ITHelper.Models.BuildingTicket

@{
    ViewData["Title"] = "Edit Building Ticket";
}

<style>
    body {
        background-image: url(/ITHelper/images/buildingsAndGroundsBackground.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h1>Edit Building Ticket: @Model.Id</h1>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSubmitted" class="control-label"></label>
                <input asp-for="DateSubmitted.LocalDateTime" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<ITTicket.TicketCategory>()">
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketSeverity>()">
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketStatus>()">
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated.LocalDateTime" class="form-control" disabled />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Resolution" class="control-label"></label>
        <textarea asp-for="Resolution" class="form-control"></textarea>
        <span asp-validation-for="Resolution" class="text-danger"></span>
    </div>

    @*Hidden input values not needed by the user*@
    <input asp-for="Id" value="@Model.Id" type="hidden" />
    <input asp-for="Type" value="@Model.Type" type="hidden" />
    <input asp-for="DateSubmitted" value="@Model.DateSubmitted" type="hidden" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
<br />
<br />
@if (Model?.Updates?.Count() > 0)
{ <partial name="~/Views/Shared/Updates.cshtml" model="Model.Updates" /> }
<br />
<br />
<div>
    <a asp-action="AddUpdate" asp-route-id="@Model.Id">Update Status</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}