@model IEnumerable<ITHelper.Models.Update>

<h1>Updates</h1>

<p>
    <a asp-action="AddUpdate" asp-route-id="@ViewBag.Id">Create a New Update</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
        </tr>
}
    </tbody>
</table>
