@model ITHelper.Models.SystemParameter

<h2>Delete a System Parameter</h2>
<h3 style="color: red;"><em>WARNING: This action cannot be undone!</em></h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <input asp-for="Value" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="TimeStamp" class="control-label"></label>
            <input asp-for="TimeStamp" class="form-control" readonly />
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Required" disabled /> @Html.DisplayNameFor(model => model.Required)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="CanBeEdited" disabled /> @Html.DisplayNameFor(model => model.CanBeEdited)
            </label>
        </div>
    </div>
</div>
<br />
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<br/>
<br/>
<div>
    <a asp-action="Index">Back to List</a>
    | <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    | <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
    @*| <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}