@model ITHelper.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCName" class="control-label"></label>
                <input asp-for="PCName" class="form-control" />
                <span asp-validation-for="PCName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketCategory>()">
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketSeverity>()">
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    @*Hidden input values not needed by the user*@
    <input asp-for="Id" value="@Model.Id" type="hidden" />
    <input asp-for="Status" value="@Model.Status" type="hidden" />
    <input asp-for="DateSubmitted" value="@Model.DateSubmitted" type="hidden" />
    <input asp-for="LastUpdated" value="@Model.LastUpdated" type="hidden" />

    <div class="form-group">
        <input type="submit" value="Submit Ticket" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
