@model ITHelper.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete this Ticket</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control" disabled>
                    @foreach (var item in Model.Locations)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateSubmitted" class="control-label"></label>
                <input asp-for="DateSubmitted.LocalDateTime" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PCName" class="control-label"></label>
                <input asp-for="PCName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="ParentCategory" class="control-label"></label>
                <select asp-for="ParentCategory" class="form-control" disabled>
                    @foreach (var item in Model.ParentCategories)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <div id="categoryDiv">
                    <select asp-for="CategoryId" class="form-control" disabled>
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketSeverity>()" disabled>
                    <option value="">-- Select One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Ticket.TicketStatus>()" disabled>
                    <option value="">-- Select One --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated.LocalDateTime" class="form-control" disabled />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" disabled></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Resolution" class="control-label"></label>
        <textarea asp-for="Resolution" class="form-control" disabled></textarea>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<br />
<br />
<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>