@model IEnumerable<ITHelper.Models.Ticket>

@{
    ViewData["Title"] = "Ticket Index";
}

<h1>IT Tickets</h1>

<br/>
<br/>
<div style="display: inline;">
    <div style="float: left;">
        <a asp-action="Create">Create a New Ticket</a>
    </div>
    <div style="float: right;">
        <select id="categoryType" name="categoryType">
            @foreach(var item in ViewBag.CategoryList)
            { <option value="@item.Value" selected="@item.Selected">@item.Text</option> }
        </select>
        <select id="ticketType" name="ticketType">
            @foreach (var item in ViewBag.TicketStatusList)
            { <option value="@item.Value" selected="@item.Selected">@item.Text</option> }
        </select>
        <input id="userName" name="userName" value="@ViewBag.UserName" />
        <input type="button" value="Search for Ticket" class="btn btn-primary" onclick="setFilter();" />
    </div>
</div>
<br />
<br />
<br/>
@if (Model.Count() == 0)
{
    <h1>There are no active tickets in the system.</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Severity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdated)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @if (item.Category != null)
                        { <div>@Html.DisplayFor(modelItem => item.Category.Name)</div> }
                    </td>
                    <td>
                        @if (item.Description.Length > 25)
                        {
                            var description = $"{item.Description.Substring(0, 22)}...";
                            @Html.DisplayFor(modelItem => description);
                        }
                        else
                        { @Html.DisplayFor(modelItem => item.Description)}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Severity)
                    </td>
                    <td style="background-color: @ITHelper.Helpers.DecorationsHelper.GetStatusColor(item.Status)">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedTo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated.LocalDateTime)
                    </td>
                    <td>
                        <a asp-action="AddUpdate" asp-controller="Tickets" asp-route-id="@item.Id">Update Status</a> |
                        <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-controller="Tickets" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="Tickets" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="~/Views/Shared/Paging.cshtml" />
}

<script type="text/javascript" async>
    function setFilter() {
        var ticketTypeSelector = document.getElementById("ticketType");
        var ticketType = ticketTypeSelector.options[ticketTypeSelector.selectedIndex].value;

        var categoryTypeSelector = document.getElementById("categoryType");
        var categoryType = categoryTypeSelector.options[categoryTypeSelector.selectedIndex].value;

        var userName = document.getElementById("userName").value;
        var slashIndex = userName.indexOf("\\");

        if (slashIndex != -1) {
            userName = userName.substring(slashIndex + 1);
        }
        if (userName.length < 1) { userName = "-- All Users --";}

        var pageNo = 0;

        var url = "/ITHelper/Tickets/Index/{0}/{1}/{2}/{3}";
        url = url.replace("{0}", ticketType);
        url = url.replace("{1}", categoryType);
        url = url.replace("{2}", userName);
        url = url.replace("{3}", pageNo);

        window.location.replace(url);
    }
</script>