@model IEnumerable<ITHelper.Models.Location>

@{
    ViewData["Title"] = "Location Index";
}
<img src="~/images/locations.jpg" style="float: right; width: 100px; height: auto;" />
<h1>Index of Locations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryContact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryEMail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryEMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <partial name="~/Views/Shared/Paging.cshtml" />
}
else
{
    <hr />
    <br />
    <br />
    <p>No locations in the system yet...</p>
    <br />
    <br />
}